body{
    background-color: rgb(216, 204, 204);
    text-shadow: 5px 5px 10px rgb(198, 64, 64);
}

h1 {
    color:rgb(181, 82, 82);
    border: .5mm solid rgb(118, 118, 213);
    border-radius: 25em;
    text-align: center;
}