body {
    background-color: rgb(53, 149, 233);
}


.container {
    display: block;
    background-color: rgb(232, 225, 14);
    border: .5mm solid rgb(53, 149, 233);
    border-radius: 5em;
    padding: 5em;
    margin: 10em;
    text-align: center;
}

input {
    border-radius: .5em;
    border-color: rgb(185, 212, 236);
}

button {
    background-color: rgb(53, 149, 233);
    border-radius: .2em;
    border: none;

}

button {
    position: relative;
    background-color: rgb(53, 149, 233);
    border: none;
    color: #FFFFFF;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
  }
  
button:after {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }
.list-container {
    margin: 2em;
    background-color:rgb(53, 149, 233);
    border-radius: .5em;
}


ol {
    color:#FFFFFF;
}