:root {
  --black: rgb(15, 13, 13);
  --brown: rgb(93, 61, 5);
  --green:rgb(13, 75, 7);
}
  
*{
    box-shadow: border-box ;
    outline: none; border: none;
    border-radius: 10px;
}

.refrences-section {
    background: #fff;
    color: #fff;
  }
  
  .refrences-section ul li {
    background:var(--green);
    text-align: center;
    padding: 2em 1em;
    margin: 0 auto 5em;
    border-radius: 1em;
  }
  
  .refrences-section ul li img {
    
    border: 5px solid var(--green);
    border-radius: 5em;
    margin-top: -4.5em;
  }

  ul {
    list-style-type: none;
  }
  
  section {
    padding: 5em 2em;
    margin: 2rem;
  }
  


  @media only screen and (min-width: 1080px) {
    .container {
      width: 1080px;
      margin: 0 auto;
    }
    section {
      padding: 10em 4em;
    }

  .refrences-section ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .refrences-section ul li {
    margin: 0 1em;
  }
}