* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-weight: lighter;
}

.flex-container {
display: flex;
flex-direction:row;
justify-content: space-around;
padding: 50px;
}

.flex-container > div { 
    width: 50px;
    height: 50px;
    border:1px solid;
    padding: 25px;
    background-color: rgb(214, 214, 214);
    border-radius: 10px;
    transition: background-color 500ms ease-in, width 1s ease-in-out, height 1s ease-in-out, border 100ms ease-in, font-size 1s ease-in;
}

.one:hover{
    background-color: red;
    width: 100px;
    height: 100px;
    text-align: center;
}
.two:hover{
    background-color: rgb(207, 95, 95);
    width: 100px;
    height: 100px;
    text-decoration: underline;
    text-align: center;
}
.three:hover{
    background-color: rgb(209, 49, 49);
    width: 100px;
    height: 100px;
    text-align: center;
    border: 5px dotted;
}
.four:hover{
    background-color: rgb(255, 0, 0);
    width: 100px;
    height: 100px;
    font-weight:bold ;
    text-align: center;
    border: 4px dashed;
}
.five:hover{
    background-color: rgb(255, 72, 0);
    width: 100px;
    height: 100px;
    text-align: center;
    border: 4px dashed red;
    text-decoration: overline;
    font-style:italic;
}
.six:hover{
    background-color: rgb(246, 164, 11);
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 50px;

}

