table, th, td, tr {
    border: 1mm solid black;
}

#header {
color: blue;
}

#link {
font-size: 25px;
    
}

#amazon, #google, #fb {
font-size: 25px;
padding-left: 3mm;
padding-right: 3mm;

}

#table {
    font-size: 30px;
}