.nav-bar{
    background-color: grey;
    border: 2px solid grey;
    position: fixed;
    top: 0;
    width: 100%;
}

.nav-bar a {
    font-size: 10mm;
    color: white;
    text-decoration: none;
    padding: 0px 30px 0px 0px;
}
.nav-bar a:hover{
    color: blue;
}
.main {
    display: inline-block;
    margin-top: 50px;
}
.blog-one{
    display: inline-block;
    margin: 10px;
}
.blog-two{
    display: inline-block;
    margin: 10px;
}
.blog-three{
    display: inline-block;
    margin: 10px;
}
.image{
    float: left;
    height: 200px;
    width: 300px;
    margin-right: 1rem ;
}


.published{
    display: block;
    padding-bottom: 5px;
    color: grey;   
}
.text{
    color: grey;
    font-weight: bold;
}